#container{
    background-color: aliceblue;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#Timetable{
    margin: 20px;
    padding: 20px;
}
table{
    padding:20px;
    box-sizing:border-box;
    border-collapse: collapse;
    border:2px solid black
    letter-spacing:1px;
    font-size: 0.8rem;
}
td,th{
    border:1px solid rgb(190, 190, 190);
    padding: 10px 20px;
    text-align: center;
}